div {
  width: 100%;
  height: 100vh;
}

button {
  margin-top: 50px;
  margin-left: 150px;
  padding: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #ffff;
  border: none;
}

h1 {
  text-align: center;
}
